<p id="notice"><%= notice %></p>

<p>
  <strong>Estudante:</strong>
  <%= @classroom.student_name %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @classroom.course_name %>
</p>


<p>
  <strong>Criada em:</strong>
  <%= @classroom.created_at %>
</p>

<%= link_to 'Voltar', classrooms_path %>
<%= link_to 'Remover', @classroom, method: :delete, data: { confirm: 'Tem certeza?' } %>
