<h1>Lista de Estudantes</h1>

<table>
  <thead>
    <tr>
      <th>Estado</th>
      <th>Nome</th>
      <th>Número de Registro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.status %></td>
        <td><%= student.name %></td>
        <td><%= student.register_number %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Editar', edit_student_path(student) %></td>
        <td><%= link_to 'Remover', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Estudante', new_student_path %>
